input#tin{
    margin-bottom: 5px;
    background-color: #fff;
    opacity:0.85;8
    width:20px;
    height:25px;
    border-width: 1;
    font-size: 17px;
    color: #000;
    font-weight: 500;
    border-radius: 5px;
    cursor:pointer;
}

input#bin{
    background-color: gray;
    width:80;
     height:25;
     border-width: 2;
     font-size: 20px;
     color: #FFFFFF;
     font-weight: 500;
    cursor:pointer;
     border-radius: 5px;
}

canvas#mycanvas{
    border:1px solid;
    margin-top: 5px;
    border-radius: 5px;
}

div#container{
    margin-left: 70px;
}
